/* General start */
i {
  font-size: 18px;
}
th,
td {
  color: var(--white);
}
span {
  color: var(--white);
}
.color1 {
  color: var(--rank1);
}
.color2 {
  color: var(--rank2);
}
.color3 {
  color: var(--rank3);
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.sub-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 60px;
}
/* General ends */

/* Calculation page start */
.header-container {
  background-color: var(--black-bg);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 !important;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav-btn-a {
  text-decoration: none;
  background-color: var(--black-bg);
  color: var(--white);
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 7px;
  background-color: var(--black-bg);
  box-shadow: 0 0 0 2px var(--white);
  transition: var(--tran-03);
}
.nav-btn-a:hover {
  background-color: var(--white);
  box-shadow: none;
  color: var(--black-bg);
}
.active {
  text-decoration: none;
  background-color: var(--white);
  color: var(--black);
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 7px;
  transition: var(--tran-03);
}
.active:hover {
  background-color: var(--black-bg);
  box-shadow: 0 0 0 2px var(--white);
  color: var(--white);
}
.nav-btn {
  text-decoration: none;
  background-color: var(--white);
  color: var(--black);
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 7px;
  transition: var(--tran-03);
}
.nav-btn:hover,
.back-btn:hover {
  background-color: var(--black-bg);
  box-shadow: 0 0 0 2px var(--white);
  color: var(--white);
}
.back-btn {
  color: var(--black-bg);
  padding: 10px 25px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 7px;
  transition: var(--tran-03);
}
.title-txt {
  font-size: 55px;
  font-weight: 300;
}
.sub-title-txt {
  font-size: 25px;
}
.rec-txt {
  font-weight: bold;
  font-style: italic;
}
.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: right !important;
  font-weight: normal;
}
thead tr {
  border-bottom: 1px solid var(--white) !important;
}
/* Calculation page ends */

/* Datatables style start */
label,
button {
  color: var(--white) !important;
}
.dt-info,
.dt-input {
  color: var(--white) !important;
}
.dt-paging {
  color: var(--black-bg) !important;
}
.dt-paging-button {
  background-color: var(--white) !important;
}
/* Datatables style ends */

/* Media queries start */
@media screen and (max-width: 600px) {
  .container {
    padding: 2rem;
  }
  .sub-container {
    gap: 30px;
  }
  .title-txt {
    font-size: 40px;
  }
  .sub-title-txt {
    font-size: 20px;
  }
  .button-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .right-btn {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 2.5rem;
  }
  .sub-container {
    gap: 40px;
  }
  .header-container {
    padding: 1.5rem;
  }
  .title-txt {
    font-size: 45px;
  }
  .sub-title-txt {
    font-size: 22px;
  }
  .button-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .right-btn {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    padding: 3rem;
  }
  .sub-container {
    gap: 60px;
  }
  .header-container {
    padding: 2rem;
  }
  .title-txt {
    font-size: 55px;
  }
  .sub-title-txt {
    font-size: 25px;
  }
}
